.search-bar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width:600px;
    margin:auto;
}

.fa-instagram{
    font-size:2em;
    padding: 0.25em;
    height:1em;
    margin:auto;
}
.search-left{
    display:inline-flex;
}
.brand{
    height:1em;
    margin:auto;
}
    

