.comment{
    display:flex;
}

.comment-user{
    font-weight:bolder;
    margin:.5em;
    border: 1px solid green;
}
.comment-text{
    border: 1px solid orange;
    margin:.5em;
}
.likes{
    margin:.5em;
}