.posts-container{
    display:flex;
    flex-wrap: wrap;
}

.post-container{
    width: 95vw;
    border: 1px solid lightgray;
    margin:auto;
    max-width: 500px;
}

.post-image{
    width:98%;
    padding:1%;

}
.user-info{
    display:flex;
    align-items:center;
}

.user-thumbnail{
    border-radius:50%;
    width: 4em;
    height:4em;
    padding:2em;
}

.user-name{
    font-weight:bold;
    font-size:1.5em;
}

.far{
    font-size:2em;
    padding:.5em;
}
/* liked icon */
.fas{
    font-size:2em;
    padding:.5em;
    color: red;
}